@font-face {
    font-family: 'My Font';
    src: url('fonts/Jurassic_Park.ttf') format('truetype');
  }
  
  .labelstyle {
    text-align: center;
    width: 50%;
    background-color: transparent !important; /* Make the tooltip background transparent */
    border: none !important; /* Remove the tooltip border */
    box-shadow: none !important; /* Remove the tooltip shadow */
    text-transform: uppercase; /* Make the text uppercase */
    font-family: 'My Font'; /* Change the font */
    font-size: 1.5vw; /* Change the font size */
    font-weight: bold; /* Make the font bold */
    color: #000000; /* Change the font color */
  }
  